* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
header {
  background-image: url(../imagenes/sakura2.jpg);
}

.logo {
  width: 40%;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 95px;
  line-height: 1.3;
}

h2 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.5;
}

h3 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 45px;
}

/*       NAV        */
nav div .navegador {
  padding: 0 1vw;
  font-size: 25px;
}

.navbar {
  background-color: rgb(173, 207, 226);
  font-weight: bolder;
}

/*      SECTION 1     */

.sectionUno {
  display: grid;
  grid-template-areas: "imagenDaruma textoDaruma textoDaruma";
  height: 100vh;
  padding-top: 5%;
  background-image: url(../imagenes/sakura2.jpg);
  border-radius: 0 0 10% 10%;
}
.sectionUno .sectionUno__imagen {
  grid-area: imagenDaruma;
  height: 100%;
}
.sectionUno .sectionUno__imagen img {
  width: 80%;
  animation-duration: 3s;
  animation-name: aparecer;
}
.sectionUno h1 {
  font-size: 10rem;
}
.sectionUno .sectionUno__texto {
  grid-area: textoDaruma;
  height: 100%;
  padding: 5% 3% 0 5%;
}
.sectionUno .sectionUno__texto p {
  color: white;
  /* border: solid white 1px; */
  border-radius: 15px;
  padding: 3%;
  background: rgb(255, 255, 255, 0.2);
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*    SECTION 2        */
.sectionDos {
  display: grid;
  grid-template-areas:
    ". titulo ."
    "amuletoUno amuletoDos amuletoTres";
  text-align: center;
  justify-content: center;
  height: 100vh;
}
.sectionDos .sectionDos__titulo {
  grid-area: titulo;
}
.sectionDos .sectionDos__imagenuno {
  grid-area: amuletoUno;
}
.sectionDos .sectionDos__imagendos {
  grid-area: amuletoDos;
}
.sectionDos .sectionDos__imagentres {
  grid-area: amuletoTres;
}

/*     STYLE IMG AMULETOS     */
.sectionDos .sectionDos__imagenuno img {
  width: 250px;
  border-radius: 15%;
}
.sectionDos .sectionDos__imagendos img {
  width: 250px;
  border-radius: 15%;
}
.sectionDos .sectionDos__imagentres img {
  width: 250px;
  border-radius: 15%;
}

/*       SECTION TRES      */
.sectionTres {
  display: grid;
  grid-template-areas:
    ". titulo ."
    "textoEventos textoEventos imagenEventos";
  justify-content: center;
  text-align: left;
  height: 100vh;
  background-image: url(../imagenes/sakura.jpg);
  border-radius: 5% 5% 0 0;
}

.sectionTres .sectionTres__titulo {
  grid-area: titulo;
  margin: 10px;
}
.sectionTres .sectionTres__texto {
  grid-area: textoEventos;
}
.sectionTres .sectionTres__imagen {
  grid-area: imagenEventos;
  justify-self: right;
}

/*       STYLE EVENTOS     */
.sectionTres .sectionTres__titulo {
  grid-area: titulo;
  text-align: center;
}
.sectionTres .sectionTres__texto {
  grid-area: textoEventos;
}
.sectionTres .sectionTres__imagen img {
  grid-area: imagenEventos;
  width: 100%;
}

/*      FOOTER          */

.footer {
  display: grid;
  grid-template-areas: "facebook instagram email twitter linkedin";
  justify-content: center;
  height: 15vh;
  background: linear-gradient(to top, pink, white);
}
.footer .footer__facebook {
  grid-area: facebook;
}
.footer .footer__instagram {
  grid-area: instagram;
}
.footer .footer__email {
  grid-area: email;
}
.footer .footer__twitter {
  grid-area: twitter;
}
.footer img {
  width: 50px;
  margin: 0 50px;
}
