* {
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 95px;
  line-height: 1.3;
  color: #272727;
  text-shadow: 2px 2px 4px #9c9797;
  text-align: center; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.5; }

h3 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 45px; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200, bold; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.5rem; }

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.japones__tercerseccion p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.japones__tercerseccion span {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.5rem; }

.navbar {
  background-color: white; }

.sectionUno {
  background: #118ab2;
  border-radius: 300px 0 0 300px;
  height: 100%;
  width: 100%;
  padding: 5%;
  margin: 2% 0;
  border-bottom: white solid 10px;
  text-align: center;
  justify-content: center; }
  .sectionUno .sectionUno__imagen {
    height: 100%; }
    .sectionUno .sectionUno__imagen img {
      width: 85%; }
  .sectionUno .sectionUno__texto {
    height: 100%;
    padding: 2% 3% 0 5%; }
    .sectionUno .sectionUno__texto h1 {
      color: white; }
    .sectionUno .sectionUno__texto p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: whitesmoke solid 0.5px; }
    .sectionUno .sectionUno__texto button a {
      text-decoration: none;
      color: white; }

.sectionDos {
  background: #ef476f;
  border-radius: 0 300px 300px 0;
  height: 100%;
  width: 100%;
  padding: 5% 5%;
  margin: 5% 0;
  text-align: center;
  justify-content: center; }
  .sectionDos .sectionDos__texto {
    height: 100%;
    padding: 0% 3% 0 3%; }
    .sectionDos .sectionDos__texto .sectionDos__titulo {
      padding-bottom: 2%; }
      .sectionDos .sectionDos__texto .sectionDos__titulo h1 {
        color: white; }
    .sectionDos .sectionDos__texto p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: solid white 0.5px; }
    .sectionDos .sectionDos__texto .sectionDos__boton {
      padding-top: 4%; }
      .sectionDos .sectionDos__texto .sectionDos__boton button a {
        color: white;
        text-decoration: none; }
  .sectionDos .sectionDos__imagen {
    height: 65vh; }
    .sectionDos .sectionDos__imagen img {
      padding: 5% 0;
      height: 100%;
      border-radius: 80px; }

.sectionTres {
  background: #06d6a0;
  border-radius: 300px 0 0 300px;
  height: 100%;
  width: 100%;
  padding: 5%;
  margin: 5% 0;
  text-align: center;
  justify-content: center; }
  .sectionTres .sectionTres__imagen {
    height: 100%; }
    .sectionTres .sectionTres__imagen img {
      width: 80%; }
  .sectionTres .sectionTres__texto {
    height: 100%;
    padding: 2% 3% 0 5%; }
    .sectionTres .sectionTres__texto h1 {
      color: white; }
    .sectionTres .sectionTres__texto .sectionTres__titulo {
      padding-bottom: 3%; }
    .sectionTres .sectionTres__texto p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: solid white 0.5px; }
    .sectionTres .sectionTres__texto button a {
      color: white;
      text-decoration: none; }

.darumas .row {
  justify-content: center; }
  .darumas .row .card {
    margin: 20px; }
    .darumas .row .card img {
      padding: 5%;
      align-self: center; }
    .darumas .row .card .card-body .card-title {
      text-align: center; }
    .darumas .row .card .card-body .card-text {
      font-size: 1rem;
      height: 100px; }

.darumas__titulo {
  text-align: center;
  margin: 0 0 45px 0; }

.omamori .row {
  justify-content: center; }
  .omamori .row .card {
    margin: 20px; }
    .omamori .row .card img {
      width: 200px;
      align-self: center;
      padding-top: 10%; }
    .omamori .row .card .card-body .card-title {
      text-align: center;
      margin-bottom: 15px; }
    .omamori .row .card .card-body .card-text {
      font-size: 1rem;
      height: 125px; }

.omamori__titulo {
  text-align: center; }

.japones__titulo {
  text-align: center; }

.japonesUno {
  margin: 3% 0; }
  .japonesUno .japonesUno__texto .japonesUno__titulo {
    padding: 2% 0 5% 0; }

.japonesDos {
  margin: 5% 0;
  height: 100%; }
  .japonesDos .japonesDos__url {
    height: 70vh; }
  .japonesDos .japonesDos__texto {
    text-align: right; }
    .japonesDos .japonesDos__texto .japonesDos__titulo {
      padding: 5% 0; }

.japonesTres {
  margin: 5% 0; }
  .japonesTres .japonesTres__texto {
    padding: 0 3% 0 0; }
    .japonesTres .japonesTres__texto .japonesTres__titulo {
      padding: 5% 0; }
  .japonesTres .japonesTres__imagen {
    padding: 1%; }

.nosotros .nosotros__titulo {
  text-align: center; }

.nosotros__cards {
  width: 80%; }
  .nosotros__cards .col {
    padding: 5% 2%; }
    .nosotros__cards .col .card {
      width: 100%; }
      .nosotros__cards .col .card .card-body {
        width: 100%; }
        .nosotros__cards .col .card .card-body .card-title {
          width: 100%;
          padding: 5%; }
        .nosotros__cards .col .card .card-body .card-text {
          font-size: 1.3rem;
          padding: 2% 4% 4% 4%; }

.viajes__titulo {
  margin-bottom: 4%; }

.carousel {
  width: 80vw; }
  .carousel .carousel-inner .filtro {
    filter: brightness(60%); }

.becas {
  margin: 100px; }
  .becas .becas__texto {
    padding: 5%; }

.contacto .contacto__titulo {
  text-align: center;
  margin-bottom: 4%; }

.btn--facebook {
  background-color: #3b5998;
  border-radius: 100px; }

.btn--linkedin {
  background-color: #0e76a8;
  border-radius: 100px; }

.btn--twitter {
  background-color: #00acee;
  border-radius: 100px; }

.btn--instagram {
  background-color: #c13584;
  border-radius: 100px; }

.btn--youtube {
  background-color: #c4302b;
  border-radius: 100px; }

.btn--email {
  background-color: #ff9800;
  border-radius: 100px; }

footer {
  margin: 100px 0 0 0; }

.logo_texto--color {
  color: white; }

.footer__columna-uno p a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem; }

.footer__columna-dos p a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem; }

.footer__columna-tres p {
  color: white;
  font-size: 1.3rem; }

.btn-primary {
  background-color: #073b4c;
  border: solid 2px #062f3d;
  transition: background-color 0.2s;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.5 rem; }

.btn-primary:hover {
  border: 2px solid #05a379;
  background-color: #06d6a0; }

.sectionUno a {
  color: black;
  transition: 0.5s; }

main a:hover {
  color: black; }

.error {
  background-image: url(../imagenes/404error2.jpg);
  background-size: cover;
  width: 98.9vw;
  height: 100vh; }
  .error .error__texto {
    color: white; }
    .error .error__texto .error__titulo {
      padding: 4% 0 0% 4%; }
      .error .error__texto .error__titulo h1 {
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        text-align: left; }
    .error .error__texto .error__subtitulo {
      padding: 0 0 2% 4%; }
