* {
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.3;
  color: #272727;
  text-shadow: 2px 2px 4px #9c9797;
  text-align: center; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.5; }

h3 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 45px; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200, bold; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.5rem; }

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.japones__tercerseccion p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.japones__tercerseccion span {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.5rem; }

.navbar {
  background-color: white; }

.sectionUno {
  background: #118ab2;
  border-radius: 300px 0 0 300px;
  height: 100%;
  width: 100%;
  padding: 5%;
  margin: 2% 0;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 7px 0 #0a2f58; }
  .sectionUno .sectionUno__imagen {
    height: 100%;
    align-self: center; }
    .sectionUno .sectionUno__imagen img {
      width: 85%; }
  .sectionUno .sectionUno__texto {
    height: 100%;
    padding: 2% 3% 0 5%; }
    .sectionUno .sectionUno__texto h1 {
      color: white;
      text-shadow: 1px 1px 2px #2e2d2d; }
    .sectionUno .sectionUno__texto p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: whitesmoke solid 0.5px;
      margin-bottom: 40px;
      box-shadow: 0 5px 5px 2px rgba(58, 58, 58, 0.555); }
    .sectionUno .sectionUno__texto button a {
      text-decoration: none;
      color: white; }

.sectionDos {
  background: #ef476f;
  border-radius: 300px;
  height: 100%;
  width: 100%;
  padding: 5% 5%;
  margin: 5% 0;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 5px 7px 0px #471111; }
  .sectionDos .sectionDos__imagen {
    height: 100%;
    align-self: center; }
    .sectionDos .sectionDos__imagen img {
      padding-right: 5%;
      width: 90%;
      border-radius: 80px; }
  .sectionDos .sectionDos__texto {
    height: 100%;
    padding: 0% 3% 0 3%; }
    .sectionDos .sectionDos__texto .sectionDos__titulo {
      padding-bottom: 2%; }
      .sectionDos .sectionDos__texto .sectionDos__titulo h1 {
        color: white;
        text-shadow: 1px 1px 2px #2e2d2d; }
    .sectionDos .sectionDos__texto p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: solid white 0.5px;
      box-shadow: 0 5px 5px 2px rgba(58, 58, 58, 0.555); }
    .sectionDos .sectionDos__texto .sectionDos__boton {
      padding-top: 4%; }
      .sectionDos .sectionDos__texto .sectionDos__boton button a {
        color: white;
        text-decoration: none; }

.sectionTres {
  background: #06d6a0;
  border-radius: 0 300px 300px 0;
  height: 100%;
  width: 100%;
  padding: 5%;
  margin: 2% 0;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 7px 0 #04572d; }
  .sectionTres .sectionTres__imagen {
    height: 100%;
    align-self: center; }
    .sectionTres .sectionTres__imagen img {
      width: 80%; }
  .sectionTres .sectionTres__texto {
    height: 100%;
    padding: 0% 3% 0 5%; }
    .sectionTres .sectionTres__texto h1 {
      color: white;
      text-shadow: 1px 1px 2px #2e2d2d; }
    .sectionTres .sectionTres__texto .sectionTres__titulo {
      padding-bottom: 3%; }
    .sectionTres .sectionTres__texto p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: solid white 0.5px;
      margin-bottom: 40px;
      box-shadow: 0 5px 5px 2px rgba(58, 58, 58, 0.555); }
    .sectionTres .sectionTres__texto button a {
      color: white;
      text-decoration: none; }

.darumas .row {
  justify-content: center; }
  .darumas .row .card {
    margin: 20px; }
    .darumas .row .card img {
      padding: 5%;
      align-self: center; }
    .darumas .row .card .card-body .card-title {
      text-align: center; }
    .darumas .row .card .card-body .card-text {
      font-size: 1rem;
      height: 100px; }

.darumas__titulo {
  text-align: center;
  margin: 0 0 45px 0; }

.omamori .row {
  justify-content: center; }
  .omamori .row .card {
    margin: 20px; }
    .omamori .row .card img {
      width: 200px;
      align-self: center;
      padding-top: 10%; }
    .omamori .row .card .card-body .card-title {
      text-align: center;
      margin-bottom: 15px; }
    .omamori .row .card .card-body .card-text {
      font-size: 1rem;
      height: 125px; }

.omamori__titulo {
  text-align: center; }

.japones__titulo {
  text-align: center; }

.japones__grid {
  padding: 3% 3% 0 3%; }

.japonesUno {
  margin: 3% 0; }
  .japonesUno .japonesUno__texto .japonesUno__titulo {
    padding: 2% 0 5% 0; }

.japonesDos {
  margin: 5% 0;
  height: 100%; }
  .japonesDos .japonesDos__url .japonesDos__url-caja {
    width: 100%;
    height: 50vh; }
    .japonesDos .japonesDos__url .japonesDos__url-caja .japonesDos__url-content {
      width: 100%;
      height: 100%; }
  .japonesDos .japonesDos__texto {
    text-align: right; }
    .japonesDos .japonesDos__texto .japonesDos__titulo {
      padding: 5% 0; }

.japonesTres {
  margin: 5% 0; }
  .japonesTres .japonesTres__texto {
    padding: 0 3% 0 0; }
    .japonesTres .japonesTres__texto .japonesTres__titulo {
      padding: 5% 0; }
    .japonesTres .japonesTres__texto .japonesTres__subtitulo {
      color: #fa3131; }
  .japonesTres .japonesTres__imagen {
    padding: 1%; }

.nosotros .nosotros__titulo {
  text-align: center; }

.nosotros .nosotros__subtitulo {
  color: #fa3131; }

.nosotros__cards {
  width: 80%; }
  .nosotros__cards .col {
    padding: 5% 2%; }
    .nosotros__cards .col .card {
      width: 100%;
      border: solid 1px #fa3131; }
      .nosotros__cards .col .card .card-body {
        width: 100%; }
        .nosotros__cards .col .card .card-body .card-title {
          width: 100%;
          padding: 5%; }
        .nosotros__cards .col .card .card-body .card-text {
          font-size: 1.3rem;
          padding: 2% 4% 4% 4%; }

.viajes__titulo {
  margin-bottom: 4%; }

.carousel {
  width: 80vw;
  margin-bottom: 3%; }
  .carousel .carousel-inner .filtro {
    filter: brightness(60%); }

.becas__caja {
  margin-top: 5%; }
  .becas__caja .becas__caja-row {
    display: flex;
    justify-content: space-evenly; }
    .becas__caja .becas__caja-row .becas__imagen {
      width: 30%; }
      .becas__caja .becas__caja-row .becas__imagen img {
        width: 100%; }
    .becas__caja .becas__caja-row .becas__texto {
      text-align: center; }
      .becas__caja .becas__caja-row .becas__texto .becas__texto-pregunta {
        font-weight: bold;
        color: #ef476f; }

.contacto .contacto__titulo {
  text-align: center;
  margin-bottom: 4%; }

.btn--facebook {
  background-color: #3b5998;
  border-radius: 65px; }

.btn--linkedin {
  background-color: #0e76a8;
  border-radius: 65px; }

.btn--twitter {
  background-color: #00acee;
  border-radius: 65px; }

.btn--instagram {
  background-color: #c13584;
  border-radius: 65px; }

.btn--youtube {
  background-color: #c4302b;
  border-radius: 65px; }

.btn--email {
  background-color: #ff9800;
  border-radius: 65px; }

footer {
  margin: 100px 0 0 0;
  font-family: "Montserrat", sans-serif; }
  footer .logo_texto--color {
    color: white; }
  footer .footer__columna-uno p a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem; }
  footer .footer__columna-dos p a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem; }
  footer .footer__columna-tres p {
    color: white;
    font-size: 1.3rem; }

.btn-primary {
  background-color: #073b4c;
  border: solid 2px #062f3d;
  transition: background-color 0.1s;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.5 rem;
  box-shadow: 1px 1px 3px 0 black; }

.btn-primary:hover {
  border: 2px solid #06d69e8e;
  background-color: #06d6a0; }

.btn-secondary {
  transition: background-color 0.1s;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.5 rem;
  box-shadow: 1px 1px 3px 0 black; }

.btn-secondary:hover {
  border: 2px solid #ec7f197a;
  background-color: #ec7f19; }

.sectionUno a {
  color: black;
  transition: 0.5s; }

main a:hover {
  color: black; }

.error {
  background-image: url(../imagenes/404error2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .error .error__texto {
    color: white; }
    .error .error__texto .error__titulo {
      padding: 4% 0 0% 4%; }
      .error .error__texto .error__titulo h1 {
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        text-align: left; }
    .error .error__texto .error__subtitulo {
      padding: 0 0 2% 4%; }

@media only screen and (max-width: 1200px) {
  .sectionUno .sectionUno__imagen img {
    width: 90%; }
  .sectionTres .sectionTres__imagen img {
    width: 100%; }
  .japonesDos .japonesDos__url .japonesDos__url-caja {
    width: 100%;
    height: 50vh; }
    .japonesDos .japonesDos__url .japonesDos__url-caja .japonesDos__url-content {
      width: 100%;
      height: 100%; } }

@media only screen and (max-width: 1000px) {
  .japonesUno {
    margin: 3% 0; }
    .japonesUno .japonesUno__texto p {
      font-size: 1.3rem; }
    .japonesUno .japonesUno__texto .japonesUno__titulo {
      padding: 0;
      font-size: 35px; }
  .japonesDos .japonesDos__texto .japonesDos__titulo {
    font-size: 35px;
    padding: 0; }
  .japonesDos .japonesDos__url .japonesDos__url-caja {
    width: 100%;
    height: 35vh; }
    .japonesDos .japonesDos__url .japonesDos__url-caja .japonesDos__url-content {
      width: 100%;
      height: 100%; }
  .japonesTres {
    margin: 5% 0; }
    .japonesTres .japonesTres__texto {
      padding: 0 3% 0 0; }
      .japonesTres .japonesTres__texto p {
        font-size: 1.3rem; }
      .japonesTres .japonesTres__texto .japonesTres__titulo {
        padding: 0;
        font-size: 35px; }
  .becas__caja .becas__caja-row .becas__imagen {
    width: 40%; }
    .becas__caja .becas__caja-row .becas__imagen img {
      width: 100%; }
  .becas__caja .becas__caja-row .becas__texto p {
    font-size: 1.3rem; } }

@media only screen and (max-width: 768px) {
  .sectionUno .sectionUno__imagen img {
    width: 60%; }
  .sectionDos .sectionDos__texto {
    order: 2; }
  .sectionDos .sectionDos__imagen {
    order: 1; }
    .sectionDos .sectionDos__imagen img {
      width: 30%;
      padding: 0; }
  .sectionTres .sectionTres__imagen {
    height: 100%;
    align-self: center; }
    .sectionTres .sectionTres__imagen img {
      width: 65%; }
  .japonesDos .japonesDos__url {
    order: 2; }
    .japonesDos .japonesDos__url .japonesDos__url-caja {
      width: 100%;
      height: 45vh; }
      .japonesDos .japonesDos__url .japonesDos__url-caja .japonesDos__url-content {
        width: 100%;
        height: 100%; }
  .japonesDos .japonesDos__texto {
    text-align: left;
    order: 1;
    margin-bottom: 3%; }
  .becas__caja .becas__caja-row .becas__imagen {
    order: 2;
    width: 50%; }
  .becas__caja .becas__caja-row .becas__texto {
    order: 1;
    margin-bottom: 5%; } }

@media only screen and (max-width: 600px) {
  .sectionUno {
    border-radius: 0; }
    .sectionUno .sectionUno__imagen {
      height: 100%; }
      .sectionUno .sectionUno__imagen img {
        width: 70%; }
  .sectionDos {
    border-radius: 0; }
  .sectionTres {
    border-radius: 0; }
    .sectionTres .sectionTres__imagen {
      height: 100%;
      align-self: center; }
      .sectionTres .sectionTres__imagen img {
        width: 70%; }
  .japonesDos .japonesDos__url {
    order: 2; }
    .japonesDos .japonesDos__url .japonesDos__url-caja {
      width: 100%;
      height: 35vh; }
      .japonesDos .japonesDos__url .japonesDos__url-caja .japonesDos__url-content {
        width: 100%;
        height: 100%; }
  .becas__caja .becas__caja-row .becas__imagen {
    width: 60%; } }

@media only screen and (max-width: 480px) {
  .sectionUno .sectionUno__texto h1 {
    color: white;
    font-size: 4.5rem; }
  .sectionUno .sectionUno__texto p {
    font-size: 1rem; }
  .sectionUno .sectionUno__texto button a {
    font-size: 1rem; }
  .sectionDos .sectionDos__texto h1 {
    margin-top: 20px;
    color: white;
    font-size: 4.5rem; }
  .sectionDos .sectionDos__texto p {
    font-size: 1rem; }
  .sectionDos .sectionDos__texto button a {
    font-size: 1rem; }
  .sectionTres .sectionTres__texto h1 {
    margin-top: 20px;
    color: white;
    font-size: 4.5rem; }
  .sectionTres .sectionTres__texto p {
    font-size: 1rem; }
  .sectionTres .sectionTres__texto button a {
    font-size: 1rem; }
  .japonesDos .japonesDos__url {
    order: 2; }
    .japonesDos .japonesDos__url .japonesDos__url-caja {
      width: 100%;
      height: 30vh; }
      .japonesDos .japonesDos__url .japonesDos__url-caja .japonesDos__url-content {
        width: 100%;
        height: 100%; } }
