.btn-primary {
  background-color: #073b4c;
  border: #073b4c;
  transition: background-color 0.2s;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.5 rem;
}

.btn-primary:hover {
  background-color: #ffd166;
}
.sectionUno a {
  color: black;
  transition: 0.5s;
}

main a:hover {
  color: black;
}
