.btn-primary {
  background-color: #073b4c;
  border: solid 2px #062f3d;
  transition: background-color 0.2s;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.5 rem;
  box-shadow: 2px 2px 6px 0 black;
}

.btn-primary:hover {
  border: 2px solid #05a379;
  background-color: #06d6a0;
}
.sectionUno a {
  color: black;
  transition: 0.5s;
}

main a:hover {
  color: black;
}
