.btn-primary {
  background-color: #073b4c;
  border: #073b4c;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #ffd166;
}
.sectionUno a {
  color: black;
  transition: 0.5s;
}

main a:hover {
  color: black;
}
