.darumas {
  .row {
    justify-content: center;

    .card {
      margin: 20px;
      img {
        padding: 5%;
        align-self: center;
      }
      .card-body {
        .card-title {
          text-align: center;
        }
        .card-text {
          font-size: 1rem;
          height: 100px;
        }
        .price_amulet {
          font-size: 1.5rem;
          font-weight: 400;
          width: 80px;
          float: right;
          margin-bottom: 0;
          text-align: center;
        }
      }
    }
  }
}

.darumas__titulo {
  text-align: center;
  margin: 0 0 45px 0;
}
