$redes: (
  facebook: #3b5998,
  linkedin: #0e76a8,
  twitter: #00acee,
  instagram: #c13584,
  youtube: #c4302b,
  email: #ff9800,
);

@each $logo, $color in $redes {
  .btn--#{$logo} {
    background-color: $color;
    border-radius: 100px;
  }
}

footer {
  margin: 100px 0 0 0;
}

.logo_texto--color {
  color: white;
}

.footer__columna-uno {
  p a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }
}
.footer__columna-dos {
  p a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }
}
.footer__columna-tres {
  p {
    color: white;
    font-size: 1.3rem;
  }
}
