.japones__titulo {
  text-align: center;
}
.japonesUno {
  margin: 3% 0;
  .japonesUno__texto {
    .japonesUno__titulo {
      padding: 2% 0 5% 0;
    }
  }
}

.japonesDos {
  margin: 5% 0;
  height: 100%;
  .japonesDos__url {
    height: 70vh;
  }
  .japonesDos__texto {
    text-align: right;
    .japonesDos__titulo {
      padding: 5% 0;
    }
  }
}

.japonesTres {
  margin: 5% 0;
  .japonesTres__texto {
    padding: 0 3% 0 0;
    .japonesTres__titulo {
      padding: 5% 0;
    }
  }
  .japonesTres__imagen {
    padding: 1%;
  }
}
