.nosotros {
  .nosotros__titulo {
    text-align: center;
  }
}

.nosotros__cards {
  // padding: 5% 0 5% 0;
  width: 80%;
  .col {
    padding: 5% 2%;
    .card {
      width: 100%;
      .card-body {
        width: 100%;
        .card-title {
          width: 100%;
          padding: 5%;
        }
        .card-text {
          font-size: 1.3rem;
        }
      }
    }
  }
}
