.omamori {
  .row {
    justify-content: center;
    .card {
      margin: 20px;
    }

    .card-body {
      .card-title {
        text-align: center;
      }
      .card-text {
        font-size: 1rem;
      }
    }
    .card img {
      width: 200px;
      align-self: center;
      padding-top: 10%;
      border: white;
    }
  }
}
.omamori__titulo {
  text-align: center;
}
