.omamori {
  .row {
    justify-content: center;

    .card {
      margin: 20px;
      img {
        width: 200px;
        align-self: center;
        padding-top: 10%;
      }
      .card-body {
        .card-title {
          text-align: center;
          margin-bottom: 15px;
        }
        .card-text {
          font-size: 1rem;
          height: 125px;
        }
      }
    }
  }
}
.omamori__titulo {
  text-align: center;
}
