.sectionDos {
  background: #dc3545;
  border-radius: 0 50% 50% 0;
  border-bottom: white solid 10px;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
  .sectionDos__titulo {
    padding-bottom: 4%;
  }
  .row {
    justify-content: space-between;
    .card {
      border: white;
      opacity: 0.7;
    }
    .card img {
      width: 200px;
      align-self: center;
      padding-top: 10%;
      border: white;
    }
  }
}
