.sectionDos {
  background: #ef476f;
  border-radius: 200px;
  border-bottom: white solid 10px;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
  .sectionDos__titulo {
    padding-bottom: 4%;
  }
  .row {
    justify-content: space-between;
    .card {
      border: white;
    }
    .card img {
      width: 200px;
      align-self: center;
      padding-top: 10%;
      border: white;
    }
    .card-body a {
      transition: 0.2s;
    }
    .card-body a:hover {
      color: #073b4c;
    }
  }
}
