.sectionUno {
  background: #118ab2;
  border-radius: 200px;
  height: 100%;
  width: 100%;
  padding: 5%;
  margin: 2% 0;
  border-bottom: white solid 10px;
  text-align: center;
  justify-content: center;

  .sectionUno__imagen {
    height: 100%;
    img {
      width: 85%;
    }
  }
  .sectionUno__texto {
    height: 100%;
    padding: 2% 3% 0 5%;

    p {
      color: white;
      border-radius: 50px;
      padding: 5%;
      border: whitesmoke solid 0.5px;
    }
    button a {
      text-decoration: none;
      color: white;
    }
  }
}
