.sectionTres {
  background: #06d6a0;
  border-radius: 200px;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 3%;
  .sectionTres__titulo {
    padding-bottom: 3%;
  }
  .sectionTres__texto {
    height: 100%;

    h2 {
      padding-bottom: 3%;
    }
    p {
      color: white;
      border-radius: 50px;
      padding: 4%;
      border: solid white 0.5px;
    }
    button a {
      color: white;
      text-decoration: none;
      transition: 0.2;
    }
    button a:hover {
      color: #073b4c;
    }
  }
  .sectionTres__imagen {
    height: 100%;
    img {
      width: 70%;
      margin: 0 2% 10% 5%;
      padding: 0 2% 10% 5%;
    }
  }
}
