.viajes__titulo {
  margin-bottom: 4%;
}
.carousel {
  width: 80vw;
  .carousel-inner .filtro {
    filter: brightness(60%);
  }
}

.becas {
  margin: 100px;
  .becas__texto {
    padding: 5%;
    .becas__texto-pregunta {
      font-weight: bold;
      color: #ef476f;
    }
  }
}
